---
---

@import "{{ site.theme }}";
.page-header { color: #fff; text-align: center; background-color: #800000; background-image: linear-gradient(120deg, #cc6600, #800000); }
body {color: #800000;}